* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin: 30px 0;
    font-size: 50px;
}

.board {
    height: 450px;
    width: 450px;
    box-shadow: 2px 2px 2px 2px grey;
    display: grid;
}

.buttons {
    display: flex;
    width: 450px;
    justify-content: space-evenly;
    margin-top: 15px;
}

button {
    height: 30px;
    width: 70px;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 35px;
}
button:hover {
    background-color: grey;
    cursor: pointer;
}
.setSize {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
input {
    width: 40px;
    height: 15px;
    border-radius: 10%;
}

#setSizeBtn {
    height: 20px;
    width: 60px;
}